@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: hsl(234, 29%, 20%);
}

section,
#successSection {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  top: 50%;
  left: 40%;
  transform: translate(-35%, -50%);
  border-radius: 25px;
  padding: 15px 14px 15px 0;
  display: flex;
  color: hsl(234, 29%, 20%);
  justify-content: space-between;
}

#successSection {
  flex-direction: column;
  padding: 35px 40px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 24%;
  transform: translate(-15%, -50%);
}

#successSection img {
  width: 15%;
  margin-bottom: 23px;
}

.mobile_size {
  display: none;
}

.desktop_size {
  display: block;
  justify-content: center;
  align-items: center;
}

#email_sent {
  font-weight: 400;
}

#left-side {
  width: 50%;
  padding: 65px 0 65px 50px;
  text-align: left;
}

#right-side {
  justify-content: center;
  align-items: center;
  display: flex;
}

.stayUpdated {
  font-size: 50px;
  font-weight: 700;
  padding: 15px 0;
}

.join {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 1.5;
}

.list1 {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.list-text {
  margin-left: 15px;
}

/* Mail Section */
#mailSection {
  margin-top: 40px;
  display: block;
}

#mailSection p {
  font-weight: 500;
}

.email_invalid {
  display: flex;
  justify-content: space-between;
}

.invalid {
  display: none;
  color: #ff5476;
  font-size: 14px;
  margin-right: 30px;
}

input,
button {
  margin: 10px 0;
  border-radius: 6px;
  cursor: pointer;
}

input {
  width: 92%;
  padding: 15px 20px;
  border: 1px solid hsla(231, 7%, 60%, 0.6);
  color: hsl(231, 7%, 60%);
  font-weight: 400;
}

input:focus {
  border: 1px solid hsl(234, 29%, 20%);
  color: hsl(234, 29%, 20%);
  font-weight: 500;
}

button {
  width: 92%;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 15px 10px;
}

button:hover {
  background: linear-gradient(to right, #ff5476, #ff6740);
  box-shadow: 0px 20px 15px rgba(255, 84, 118, 0.25);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: hsl(0, 0%, 100%);
  padding: 10px 0;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
}

.attribution a:hover {
  color: #ff5476;
  text-decoration: underline;
}

@media (min-width: 2500px) {
}

@media (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media (max-width: 430px) {
  section,
  #successSection {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    flex-direction: column-reverse;
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  #left-side {
    width: 100%;
    padding: 20px 20px;
  }

  #right-side img {
    width: 100%;
    margin: 0;
  }

  .mobile_size {
    display: block;
  }

  .desktop_size {
    display: none;
  }

  .stayUpdated {
    font-size: 38px;
  }

  .invalid {
    margin-right: 0;
    text-align: right;
  }

  button,
  input {
    width: 100%;
  }

  .attribution {
    /* position: static; */
    bottom: 0;
    color: hsl(234, 29%, 20%);
    text-align: center;
    margin-top: 15px;
    display: none;
  }

  .attribution a {
    color: hsl(234, 29%, 20%);
  }
}
